@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 4.8% 95.9%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 0 0% 90%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 0 0% 90%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 100% 57.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 70%;
    --input: 0 0% 70%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.3rem;

    --status-active: 217.2 91.2% 59.8%; /* Blue */
    --status-completed: 120 57% 40%; /* Green */
    --status-onhold: 30 100% 50%; /* Orange */
    --status-canceled: 0 100% 50%; /* Red */
    --status-pending: 60 100% 50%; /* Yellow */
    --status-delayed: 45 100% 50%; /* Amber */
    --status-underreview: 270 60% 70%; /* Light Purple */
    --status-draft: 300 60% 70%; /* Pink */

    --priority-high: 0 100% 50%; /* Red */
    --priority-medium: 39 100% 50%; /* Orange */
    --priority-low: 120 60% 70%; /* Light Green */
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 60 9.1% 97.8%;
    --card: 0 0% 15%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 0 0% 15%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 215 100% 90%;
    --secondary: 240 10% 3.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 10% 3.9%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 240 10% 3.9%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 100% 57.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 300 1% 22%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --status-active: 217.2 91.2% 59.8%; /* Blue */
    --status-completed: 120 57% 40%; /* Green */
    --status-onhold: 30 100% 50%; /* Orange */
    --status-canceled: 0 100% 50%; /* Red */
    --status-pending: 60 100% 50%; /* Yellow */
    --status-delayed: 45 100% 50%; /* Amber */
    --status-underreview: 270 60% 70%; /* Light Purple */
    --status-draft: 300 60% 70%; /* Pink */

    --priority-high: 0 100% 50%; /* Red */
    --priority-medium: 39 100% 50%; /* Orange */
    --priority-low: 120 60% 70%; /* Light Green */
  }
}

@layer components {
  * {
    @apply font-sans box-border scrollbar-thin scrollbar-thumb-[#7b7b7b] scrollbar-track-[#424242];
  }
}

.tiptap .is-empty::before {
  @apply text-slate-300;
  @apply content-[attr(data-placeholder)];
  @apply float-left;
  @apply pointer-events-none;
  @apply h-0;
}
